#///////////////////////////////////////////////////////////////////
# Fireball Projects
////////////////////////////////////////////////////////////////////

# library/
# temp/
# local/
# build/

cocosProj_test/frameworks/
