<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b-arm-bat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,55}</string>
                <key>spriteSourceSize</key>
                <string>{83,55}</string>
                <key>textureRect</key>
                <string>{{509,739},{83,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b-arm-bigmagician.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,270}</string>
                <key>spriteSourceSize</key>
                <string>{128,278}</string>
                <key>textureRect</key>
                <string>{{392,1},{112,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b-arm-dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,78}</string>
                <key>spriteSourceSize</key>
                <string>{30,96}</string>
                <key>textureRect</key>
                <string>{{575,987},{28,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b-arm-dualknife.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,64}</string>
                <key>spriteSourceSize</key>
                <string>{16,78}</string>
                <key>textureRect</key>
                <string>{{1006,1},{16,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b-arm-magician.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,114}</string>
                <key>spriteSourceSize</key>
                <string>{68,116}</string>
                <key>textureRect</key>
                <string>{{965,291},{56,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b-arm-padak.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,47}</string>
                <key>spriteSourceSize</key>
                <string>{21,49}</string>
                <key>textureRect</key>
                <string>{{1001,599},{21,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b-arm-thorn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,24}</string>
                <key>spriteSourceSize</key>
                <string>{10,24}</string>
                <key>textureRect</key>
                <string>{{623,226},{10,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b-body-bigmacgician.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,192}</string>
                <key>spriteSourceSize</key>
                <string>{164,200}</string>
                <key>textureRect</key>
                <string>{{1,828},{160,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b-body-cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,52}</string>
                <key>spriteSourceSize</key>
                <string>{87,54}</string>
                <key>textureRect</key>
                <string>{{706,942},{81,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b-body-dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{144,130}</string>
                <key>spriteSourceSize</key>
                <string>{156,138}</string>
                <key>textureRect</key>
                <string>{{651,511},{144,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b-body-magician.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,160}</string>
                <key>spriteSourceSize</key>
                <string>{133,162}</string>
                <key>textureRect</key>
                <string>{{422,826},{131,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b-body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{760,823},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b-effect-bigmagician.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,198}</string>
                <key>spriteSourceSize</key>
                <string>{42,198}</string>
                <key>textureRect</key>
                <string>{{804,137},{42,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b-effect-dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,85}</string>
                <key>spriteSourceSize</key>
                <string>{95,85}</string>
                <key>textureRect</key>
                <string>{{412,739},{95,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b-effect-magician.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,75}</string>
                <key>spriteSourceSize</key>
                <string>{137,83}</string>
                <key>textureRect</key>
                <string>{{574,414},{135,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b-eye-middle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{509,469},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b-eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{506,227},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b-head-bigmagician.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,113}</string>
                <key>spriteSourceSize</key>
                <string>{181,117}</string>
                <key>textureRect</key>
                <string>{{153,273},{171,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b-head-dualknife.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,23}</string>
                <key>spriteSourceSize</key>
                <string>{57,23}</string>
                <key>textureRect</key>
                <string>{{650,766},{55,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{651,212},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damaged-f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{318,739},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damaged-n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{572,551},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damaged-r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{757,794},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dec-b-back-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,49}</string>
                <key>spriteSourceSize</key>
                <string>{65,49}</string>
                <key>textureRect</key>
                <string>{{950,599},{65,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dec-b-horn-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,56}</string>
                <key>spriteSourceSize</key>
                <string>{66,56}</string>
                <key>textureRect</key>
                <string>{{327,671},{66,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dec-b-tail-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,35}</string>
                <key>spriteSourceSize</key>
                <string>{49,35}</string>
                <key>textureRect</key>
                <string>{{422,988},{49,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dec-b-wing-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,56}</string>
                <key>spriteSourceSize</key>
                <string>{224,56}</string>
                <key>textureRect</key>
                <string>{{327,445},{224,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dec-r-back-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,49}</string>
                <key>spriteSourceSize</key>
                <string>{65,49}</string>
                <key>textureRect</key>
                <string>{{655,946},{65,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dec-r-horn-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,56}</string>
                <key>spriteSourceSize</key>
                <string>{66,56}</string>
                <key>textureRect</key>
                <string>{{385,671},{66,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dec-r-tail-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,35}</string>
                <key>spriteSourceSize</key>
                <string>{49,35}</string>
                <key>textureRect</key>
                <string>{{473,988},{49,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dec-r-wing-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,56}</string>
                <key>spriteSourceSize</key>
                <string>{224,56}</string>
                <key>textureRect</key>
                <string>{{385,445},{224,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dec-y-back-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,49}</string>
                <key>spriteSourceSize</key>
                <string>{65,49}</string>
                <key>textureRect</key>
                <string>{{773,707},{65,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dec-y-horn-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,56}</string>
                <key>spriteSourceSize</key>
                <string>{66,56}</string>
                <key>textureRect</key>
                <string>{{957,407},{66,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dec-y-tail-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,35}</string>
                <key>spriteSourceSize</key>
                <string>{49,35}</string>
                <key>textureRect</key>
                <string>{{524,988},{49,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dec-y-wing-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,56}</string>
                <key>spriteSourceSize</key>
                <string>{224,56}</string>
                <key>textureRect</key>
                <string>{{506,1},{224,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hpbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,8}</string>
                <key>spriteSourceSize</key>
                <string>{85,8}</string>
                <key>textureRect</key>
                <string>{{564,216},{85,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hpbar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,8}</string>
                <key>spriteSourceSize</key>
                <string>{85,8}</string>
                <key>textureRect</key>
                <string>{{564,338},{85,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hpbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,12}</string>
                <key>spriteSourceSize</key>
                <string>{89,12}</string>
                <key>textureRect</key>
                <string>{{936,575},{89,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r-arm-bignormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,141}</string>
                <key>spriteSourceSize</key>
                <string>{170,141}</string>
                <key>textureRect</key>
                <string>{{268,273},{170,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r-arm-cross.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,54}</string>
                <key>spriteSourceSize</key>
                <string>{15,54}</string>
                <key>textureRect</key>
                <string>{{1006,67},{15,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r-arm-gun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,58}</string>
                <key>spriteSourceSize</key>
                <string>{24,60}</string>
                <key>textureRect</key>
                <string>{{965,265},{24,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r-arm-hammer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,63}</string>
                <key>spriteSourceSize</key>
                <string>{33,63}</string>
                <key>textureRect</key>
                <string>{{509,436},{31,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r-arm-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,14}</string>
                <key>spriteSourceSize</key>
                <string>{57,14}</string>
                <key>textureRect</key>
                <string>{{1006,123},{57,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r-arm-octo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{82,126}</string>
                <key>spriteSourceSize</key>
                <string>{82,132}</string>
                <key>textureRect</key>
                <string>{{936,666},{82,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r-arm-sasin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,159}</string>
                <key>spriteSourceSize</key>
                <string>{109,159}</string>
                <key>textureRect</key>
                <string>{{804,181},{109,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r-arm-shield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,41}</string>
                <key>spriteSourceSize</key>
                <string>{29,41}</string>
                <key>textureRect</key>
                <string>{{650,794},{29,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r-arm-spinspin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,188}</string>
                <key>spriteSourceSize</key>
                <string>{141,188}</string>
                <key>textureRect</key>
                <string>{{279,828},{141,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r-body-bignormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,76}</string>
                <key>spriteSourceSize</key>
                <string>{123,76}</string>
                <key>textureRect</key>
                <string>{{443,661},{123,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r-body-hammer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,55}</string>
                <key>spriteSourceSize</key>
                <string>{48,55}</string>
                <key>textureRect</key>
                <string>{{707,766},{48,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r-body-octo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{804,1},{134,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r-body-sasin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,97}</string>
                <key>spriteSourceSize</key>
                <string>{149,97}</string>
                <key>textureRect</key>
                <string>{{801,446},{147,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r-body-shield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,58}</string>
                <key>spriteSourceSize</key>
                <string>{50,58}</string>
                <key>textureRect</key>
                <string>{{965,182},{50,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r-body-spinspin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,115}</string>
                <key>spriteSourceSize</key>
                <string>{97,133}</string>
                <key>textureRect</key>
                <string>{{669,825},{89,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r-body-throw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{96,121}</string>
                <key>spriteSourceSize</key>
                <string>{110,125}</string>
                <key>textureRect</key>
                <string>{{650,668},{96,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r-body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{935,794},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r-bullet-gun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,13}</string>
                <key>spriteSourceSize</key>
                <string>{49,13}</string>
                <key>textureRect</key>
                <string>{{491,436},{49,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r-effect-cross.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,130}</string>
                <key>spriteSourceSize</key>
                <string>{23,130}</string>
                <key>textureRect</key>
                <string>{{650,643},{23,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r-effect-octo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,39}</string>
                <key>spriteSourceSize</key>
                <string>{46,41}</string>
                <key>textureRect</key>
                <string>{{555,946},{46,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r-effect-sasin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,87}</string>
                <key>spriteSourceSize</key>
                <string>{174,91}</string>
                <key>textureRect</key>
                <string>{{148,739},{168,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r-eye-middle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{880,770},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r-eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{579,226},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y-arm-anubis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{150,445}</string>
                <key>spriteSourceSize</key>
                <string>{166,489}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y-arm-chamaeleon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,12}</string>
                <key>spriteSourceSize</key>
                <string>{61,12}</string>
                <key>textureRect</key>
                <string>{{782,643},{59,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>y-arm-elephant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,209}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{648,1},{154,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y-arm-gunner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,25}</string>
                <key>spriteSourceSize</key>
                <string>{44,25}</string>
                <key>textureRect</key>
                <string>{{552,227},{44,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>y-arm-hydra.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,126}</string>
                <key>textureRect</key>
                <string>{{555,826},{112,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y-arm-scorpion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{237,270}</string>
                <key>spriteSourceSize</key>
                <string>{257,300}</string>
                <key>textureRect</key>
                <string>{{153,1},{237,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y-body-anubis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,378}</string>
                <key>spriteSourceSize</key>
                <string>{151,398}</string>
                <key>textureRect</key>
                <string>{{1,448},{145,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y-body-bug.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,148}</string>
                <key>spriteSourceSize</key>
                <string>{145,148}</string>
                <key>textureRect</key>
                <string>{{651,364},{145,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>y-body-chamaeleon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{85,63}</string>
                <key>spriteSourceSize</key>
                <string>{89,67}</string>
                <key>textureRect</key>
                <string>{{564,273},{85,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y-body-elephant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,126}</string>
                <key>spriteSourceSize</key>
                <string>{127,126}</string>
                <key>textureRect</key>
                <string>{{443,533},{127,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y-body-gunner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{81,82}</string>
                <key>spriteSourceSize</key>
                <string>{85,86}</string>
                <key>textureRect</key>
                <string>{{566,743},{81,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>y-body-hydra.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,130}</string>
                <key>spriteSourceSize</key>
                <string>{145,136}</string>
                <key>textureRect</key>
                <string>{{797,575},{137,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y-body-jirung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{107,61}</string>
                <key>spriteSourceSize</key>
                <string>{115,71}</string>
                <key>textureRect</key>
                <string>{{824,707},{107,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y-body-jirung2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,28}</string>
                <key>spriteSourceSize</key>
                <string>{147,52}</string>
                <key>textureRect</key>
                <string>{{797,545},{139,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y-body-scorpion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,289}</string>
                <key>spriteSourceSize</key>
                <string>{189,309}</string>
                <key>textureRect</key>
                <string>{{148,448},{177,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y-body-sunin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{76,112}</string>
                <key>spriteSourceSize</key>
                <string>{78,116}</string>
                <key>textureRect</key>
                <string>{{572,629},{76,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y-effect-anubis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{803,292},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y-effect-anubis2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{189,114}</string>
                <key>spriteSourceSize</key>
                <string>{215,138}</string>
                <key>textureRect</key>
                <string>{{163,828},{189,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>y-effect-hydra1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,82}</string>
                <key>spriteSourceSize</key>
                <string>{213,82}</string>
                <key>textureRect</key>
                <string>{{564,1},{213,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>y-effect-hydra2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{95,46}</string>
                <key>spriteSourceSize</key>
                <string>{111,60}</string>
                <key>textureRect</key>
                <string>{{443,436},{95,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>y-effect-hydra3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,73}</string>
                <key>spriteSourceSize</key>
                <string>{136,75}</string>
                <key>textureRect</key>
                <string>{{950,465},{132,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>y-effect-hydra4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{29,58}</string>
                <key>spriteSourceSize</key>
                <string>{59,84}</string>
                <key>textureRect</key>
                <string>{{965,234},{29,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>y-effect-scorpion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,151}</string>
                <key>spriteSourceSize</key>
                <string>{161,151}</string>
                <key>textureRect</key>
                <string>{{411,273},{161,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>y-eye-middle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{575,338},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y-eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{824,770},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemies.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4af3700b3b1f0a2a51ec23da512388a:4e89438593e6a37586ed9001cf3f5597:c41b873672bc02e612f9bba7d862980a$</string>
            <key>textureFileName</key>
            <string>enemies.png</string>
        </dict>
    </dict>
</plist>
